<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yx.pay.system.dao.BankMapper">

    <resultMap id="bankMap" type="yx.pay.system.domain.Bank">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
    </resultMap>

    <select id="selectByName" resultMap="bankMap">
        SELECT * from t_bank_info a
        where 1=1
        <if test="bankName != null and bankName != ''">
            and a.bank_name LIKE CONCAT('%',#{bankName},'%')
        </if>
        <if test="parentId != null ">
            and parent_id = #{parentId}
        </if>
        limit 50
    </select>

    <select id="getParentBankList" resultMap="bankMap">
        SELECT * from t_bank_info a
        where a.parent_id = #{parentId}
    </select>

</mapper>